body {
    background-color: #18191a;
    color: 242526;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #242526;
        color: white;
    }
}
.card{
    background-color: aqua;
}